---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="page-grid">
		<h1>Bookings</h1>
		<p>Bookings coming soon!</p>
	</div>
</Layout>

<style>
	.page-grid {
		grid-column: content;
	}
</style>
