---
import Email from "../components/Email.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="page-grid">
		<h1>Bookings</h1>
		<p>We have two spaces available to hire - the common room and the yard.</p>
		<Email />
	</div>

	<style>
		.page-grid {
			grid-column: content;
		}
	</style>
</Layout>
