---

---

<form
	name="contact"
	method="POST"
	data-netlify="true"
>
	<input
		type="hidden"
		name="form-name"
		value="contact"
	/>
	<div class="field-wrapper">
		<label for="name">Name:</label>
		<input
			type="text"
			id="name"
			name="name"
			required
		/>
	</div>
	<div class="field-wrapper">
		<label for="email">Email:</label>
		<input
			type="email"
			id="email"
			name="email"
			required
		/>
	</div>

	<div class="field-wrapper">
		<label for="date">Date:</label>
		<input
			type="date"
			id="date"
			name="date"
		/>
	</div>
	<div class="field-wrapper">
		<label>Which space are you interested in hiring?</label>
		<ul class="options">
			<li class="option">
				<input
					type="checkbox"
					id="common-room"
					name="spaces"
					value="Common Room"
				/>
				<label for="common-room">Common Room</label>
			</li>
			<li class="option">
				<input
					type="checkbox"
					id="yard"
					name="spaces"
					value="Yard"
				/>
				<label for="yard">Yard</label>
			</li>
		</ul>
	</div>
	<div class="field-wrapper">
		<label for="message">Message:</label>
		<textarea
			id="message"
			name="message"
			required
		></textarea>
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>

<style>
	form {
		display: grid;
		gap: 1rem;
		max-width: 50rem;
		accent-color: var(--color-accent);
	}
	label {
		display: block;
		margin-bottom: 0.5rem;
	}
	input,
	textarea {
		box-sizing: border-box;
		width: 100%;
		padding: 0.5rem;
		border: 1px solid #ccc;
		border-radius: 0.25rem;
		background-color: var(--color-text);
		color: var(--color-brand-500);
		font-family: inherit;
		font-size: inherit;
		&:focus {
			background-color: white;
		}
	}
	.field-wrapper {
		display: grid;
		gap: 0.5rem;
	}
	textarea {
		min-height: 10rem;
	}
	button {
		font-size: inherit;
		font-weight: 600;
		letter-spacing: 0.02em;
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 0.25rem;
		background-color: var(--color-accent);
	}

	.options {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.option {
		display: flex;
		justify-content: flex-start;
	}

	[type="checkbox"] {
		max-width: 1.5rem;
		flex-grow: 0;
	}
</style>
