<footer>
	<div class="credit">
		Handmade with ❤︎ by <a href="https://marcheatleydesign.com">MHD</a>
	</div>
</footer>

<style>
	footer {
		position: sticky;
		top: 100%;
		grid-column: full-width;
		background-color: var(--color-brand-500);
		padding-block: var(--length-spacer);
		text-align: center;
	}

	a {
		color: currentColor;
	}
</style>
