---
import Map from "./Map.astro";
---

<div class="map-wrapper">
	<Map />
</div>
<footer>
	<div class="credit">
		Handmade with &hearts; by <a href="https://marcheatleydesign.com">MHD</a>
	</div>
</footer>

<style>
	.map-wrapper {
		padding: var(--length-spacer);
		margin: auto;
		max-width: var(--length-content-max-width);
	}
	footer {
		position: sticky;
		top: 100%;
		grid-column: full-width;
		background-color: var(--color-brand-500);
		padding-block: var(--length-spacer);
		text-align: center;
	}

	a {
		color: currentColor;
	}
</style>
