<main>
	<h1>One Fox Lane is a creative community workspace in Cardiff.</h1>
</main>

<style>
	main {
		min-height: 50vh;
		align-content: center;
		grid-column: content;
	}
	h1 {
		font-family: var(--font-headline);
		font-weight: 400;
		font-style: normal;
		font-size: clamp(2rem, 2vw + 2rem, 4rem);
		text-wrap: balance;
	}
</style>
