---
import { Icon } from "astro-icon/components";

const links = [
	{
		link: "https://www.instagram.com/one_fox_lane/",
		icon: "instagram",
	},
	// {
	// 	link: "https://eventbrite.com",
	// 	icon: "eventbrite",
	// },
];
---

<div class="wrapper">
	<a
		class="button"
		href="/bookings"
		>BOOKINGS</a
	>
	{
		links.map((link) => (
			<a href={link.link}>
				<Icon
					class="icon"
					name={link.icon}
				/>
			</a>
		))
	}
</div>

<style>
	.wrapper {
		display: flex;
		gap: 1rem;
	}
	.icon {
		width: 2rem;
		height: 2rem;
		color: var(--color-text);
	}
	a.button {
		background-color: var(--color-text);
		color: var(--color-surface);
		text-decoration: none;
		font-weight: 700;
		line-height: 1;
		padding: 0.5em 0.75em;
		border-radius: 0.25em;
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
	}
</style>
