---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";

const RESIDENTS_QUERY = `*[
  _type == "resident"
  && defined(slug.current)
]|order(title asc)[0...12]{_id, title, slug, startDate}`;

const residents = await sanityClient.fetch<SanityDocument[]>(RESIDENTS_QUERY);
---

<ul>
	{
		residents.map((resident) => (
			<li>
				<a href={`/residents/${resident.slug.current}`}>
					<h2>{resident.title}</h2>
					{new Date(resident.startDate).toLocaleDateString()}
				</a>
			</li>
		))
	}
</ul>
