---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import ResidentTeaser from "./ResidentTeaser.astro";

const RESIDENTS_QUERY = `*[
  _type == "resident"
  && defined(slug.current)
]|order(title asc)[0...12]{_id, title, slug, image}`;

const residents = await sanityClient.fetch<SanityDocument[]>(RESIDENTS_QUERY);
---

<ul class="list">
	{
		residents.map((resident) => (
			<li>
				<ResidentTeaser resident={resident} />
			</li>
		))
	}
</ul>

<style>
	.list {
		display: grid;
		gap: var(--length-spacer);
		grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		list-style: none;
		padding: 0;
	}

	li {
		margin: 0;
		padding: 0;
	}
</style>
